@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
}

.block {
    width: 30vw;
    height: 30vw;
    background-color: black;
    color: white;
    padding: 1rem;
}


.left {
    float: left; /*text is now apprearing with it*/
    margin-right: 1rem;
}

.right {
    float: right; /*text is now apprearing with it*/
    margin-left: 1rem;
}

.clear {
    clear: both;

}

section {
    background-color: bisque;
    border: 1px solid black;
    padding: 1rem;
    overflow: auto; /*extends container element*/

    /*method 2 
    display: flow-root;*/

    
}

